In [5]:
import pandas as pd
from sklearn.metrics import mean_absolute_error

In [4]:
DNN_minmax = pd.read_csv('../predictions/predictions_20_22_test_game/all_before_20/feature_selected_DNN_minmax_prediction_train.csv')
DNN_minmax

,GAME_ID,GAME_DATE_EST,team_id,oppo_id,PTS_team,pointspread,loc,pointspread_pred
0,21900499,12/31/2019,1610612758,1610612746,87,-18,1,[-2.2724385]
1,21900489,12/29/2019,1610612758,1610612743,115,-5,0,[-7.0925713]
2,21900483,12/28/2019,1610612758,1610612756,110,-2,1,[5.38436]
3,21900464,12/26/2019,1610612758,1610612750,104,-1,1,[5.943371]
4,21900453,12/23/2019,1610612758,1610612745,104,-9,1,[-6.1035495]
...,...,...,...,...,...,...,...,...
39927,20400007,11/3/2004,1610612738,1610612755,95,-3,1,[1.3168795]
39928,40300104,4/25/2004,1610612738,1610612754,75,-15,1,[-7.0085316]
39929,40300103,4/23/2004,1610612738,1610612754,85,-23,1,[-5.858843]
39930,40300102,4/20/2004,1610612738,1610612754,90,-13,0,[-9.452932]
39931,40300101,4/17/2004,1610612738,1610612754,88,-16,0,[-10.079214]

In [10]:
DNN_minmax['pointspread_pred'] = DNN_minmax['pointspread_pred'].str.strip('[]')
DNN_minmax['pointspread_pred']

0        -2.2724385
1        -7.0925713
2           5.38436
3          5.943371
4        -6.1035495
            ...
39927     1.3168795
39928    -7.0085316
39929     -5.858843
39930     -9.452932
39931    -10.079214
Name: pointspread_pred, Length: 39932, dtype: object

In [11]:
mean_absolute_error(DNN_minmax['pointspread'], DNN_minmax['pointspread_pred'])

9.403169842294368

In [12]:
DNN_standard = pd.read_csv('../predictions/predictions_20_22_test_game/all_before_20/feature_selected_DNN_standard_prediction_train.csv')

In [13]:
DNN_standard['pointspread_pred'] = DNN_standard['pointspread_pred'].str.strip('[]')
DNN_standard['pointspread_pred']
mean_absolute_error(DNN_standard['pointspread'], DNN_standard['pointspread_pred'])

9.30398515745097

In [14]:
DNN_minmax_PCA = pd.read_csv('../predictions/predictions_20_22_test_game/all_before_20/PCA_DNN_minmax_prediction_train.csv')

In [15]:
DNN_minmax_PCA['pointspread_pred'] = DNN_minmax_PCA['pointspread_pred'].str.strip('[]')
DNN_minmax_PCA['pointspread_pred']
mean_absolute_error(DNN_minmax_PCA['pointspread'], DNN_minmax_PCA['pointspread_pred'])

9.357903868691526

In [16]:
DNN_standard_PCA = pd.read_csv('../predictions/predictions_20_22_test_game/all_before_20/PCA_DNN_standard_prediction_train.csv')

In [17]:
DNN_standard_PCA['pointspread_pred'] = DNN_standard_PCA['pointspread_pred'].str.strip('[]')
DNN_standard_PCA['pointspread_pred']
mean_absolute_error(DNN_standard_PCA['pointspread'], DNN_standard_PCA['pointspread_pred'])

9.336650319443555